[submodule "panda"]
	path = panda
	url = https://github.com/mlocoteta/panda-ti.git
	branch = master
[submodule "opendbc"]
	path = opendbc
	url = ../../mlocoteta/opendbc-ti.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/mlocoteta/cereal-ti.git
	branch = mlocoteta
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
